@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles/globals.css or your custom styles file */
.group:hover .arrow-svg path {
  fill: white !important;
  transition: all 300ms linear !important;
}
.group:hover .whitearrow-svg path {
  fill: #111822 !important;
  transition: all 300ms linear !important;
}

.slick-next:before {
  content: "→";
  display: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
